body { font:14px/1.8em "Microsoft YaHei",Verdana, Arial, Helvetica, sans-serif;  background:url(../../images/main_bg.png) repeat-x; }
/*列表table表单样式 */
.list_table{border:1px solid #0058a3;	border-collapse:collapse;	background:#fff;	width:100%;}
.list_table caption{font-size:16px; line-height:32px;color:#666;background:url(../../images/table_cap_bg.png) repeat-x left top; }
.list_table th{border:1px solid #fff;	background:#3c96d2; white-space:nowrap;color:#FFFFFF;padding:3px;font-weight:normal;}
.list_table tr.listodd{ background:#FFFFFF;}
.list_table tr.listaltrow{ background:#ebebeb;}
.list_table td{border:1px solid #FFF;padding:3px;color:#59686b;align:center;}
.list_table tr:hover, .list_table tr.altrow{background-color:#c4e4ff;	}

/*分页样式*/
.pagination {PADDING: 3px; MARGIN: 3px; TEXT-ALIGN: right; font-size:12px;}
.pagination .current {BORDER: #036cb4 1px solid; PADDING:2px 6px;  FONT-WEIGHT: bold; MARGIN: 2px;  COLOR: #fff; BACKGROUND: #036cb4;}
.pagination .disabled {BORDER: #eee 1px solid; PADDING:2px;  MARGIN: 2px; COLOR: #ddd; width:16px;}
.pagination .dis_font {padding-left:15px; padding-right:8px;}
.pagination a.first{ background:url(../../images/icon_page_1.png) no-repeat; weidth:16px; height:16px; padding:0 8px;}
.pagination a.pre{ background:url(../../images/icon_page_2.png) no-repeat; weidth:16px; height:16px; padding:0 8px;}
.pagination a.next{ background:url(../../images/icon_page_3.png) no-repeat; weidth:16px; height:16px; padding:0 8px;}
.pagination a.last{background:url(../../images/icon_page_4.png) no-repeat; weidth:16px; height:16px; padding:0 8px;}

/*查询table表单样式 */
.search_table{border-collapse:collapse;background:#fff;width:100%;border-top:2px solid #B1CAE8;}
.search_table caption{font-size:16px; line-height:32px;color:#666;background:url(../../images/table_cap_bg.png) repeat-x left top; }
.search_table th{border-bottom:1px solid #a2bfe9;background:#f6faff;white-space:nowrap;color:#5c676e;	padding:5px 3px;text-align:center;font-weight:normal;}
.search_table tr.listodd{background:#f2f4f1;}
.search_table tr.listaltrow{background:#FFFFFF;}
.search_table td{border-bottom:1px dashed #b1c9e5;padding:6px;color:#2a7dc4; vertical-align:top}
.search_table td.result_td{color:#666666;}
.search_table td label{margin-right:10px;}
.search_table tr:hover, .search_table tr.altrow{background-color:#dbefff;}


/*操作列表*/
.operate_title{background:url(../../images/operate_table_bg.png) repeat-x;  overflow:hidden; clear:both;}

.operate_title  a{color:#2a7dc4;}
.operate_title  span{padding-left:20px;}
.operate_title  span.add{background:url(../../images/operate_add.png) no-repeat left center;}
.operate_title  span.delete{background:url(../../images/operate_delete.png) no-repeat left center;}
.operate_title  span.edit{background:url(../../images/operate_edit.png) no-repeat left center;}
.attachment_down{background:url(../../images/operate_input.png) no-repeat left center;}
