<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- 为各模块的model类声明alias -->
	<typeAliases>
		<!-- demo -->
		<typeAlias alias="Demo" type="com.cloud.demo.model.Demo"/>
		
		<!-- 数据字典 -->
		<typeAlias alias="DataDict" type="com.cloud.datadict.model.DataDict"/>
		
		<!-- 定时任务 -->
		<typeAlias alias="Schedule" type="com.cloud.schedulemanager.model.Schedule"/>
		
		<!-- WebService接口 -->
		<typeAlias alias="WebService" type="com.cloud.webservice.model.WebService"/>
		
		<!-- 调用WebService -->
		<typeAlias alias="CallWebService" type="com.cloud.callwebservice.model.CallWebService"/>
		
		<!-- 系统人员 -->
		<typeAlias alias="SystemUser" type="com.cloud.systemuser.model.SystemUser"/>
		
		<!-- 菜单 -->
		<typeAlias alias="Menu" type="com.cloud.menumanager.model.Menu"/>
		
		<!-- 部门 -->
		<typeAlias alias="Department" type="com.cloud.department.model.Department"/>
		
		<!-- 系统配置 -->
		<typeAlias alias="SystemConfig" type="com.cloud.systemconfig.model.SystemConfig"/>
		
		<!-- 菜单权限 -->
		<typeAlias alias="MenuPriv" type="com.cloud.menupriv.model.MenuPriv"/>
		
		<!-- 角色 -->
		<typeAlias alias="Role" type="com.cloud.rolemanager.model.Role"/>
		
		<!-- 角色人员关系 -->
		<typeAlias alias="RoleUser" type="com.cloud.roleuser.model.RoleUser"/>
		
		<!-- 角色菜单权限 -->
		<typeAlias alias="RoleMenuPriv" type="com.cloud.rolemenupriv.model.RoleMenuPriv"/>
		
		<!-- 日志管理 -->
		<typeAlias alias="Sqllog" type="com.cloud.sqllog.model.Sqllog"/> 
		
		<!-- 注册WebService -->
		<typeAlias alias="RegWebService" type="com.cloud.regwebservice.model.RegWebService"/>
		
		
		<!-- 业务总模块 -->
		
		
		<!-- 附件表 -->
		<typeAlias alias="Attachment" type="com.cloud.attachment.model.Attachment"/>
	</typeAliases>	

	<!-- 加载各模块的sqlmap.xml文件 -->
	<mappers>
		<!-- demo -->
		<mapper resource="/com/cloud/demo/config/Demo_sqlmap.xml"/>
		
		<!-- 数据字典 -->
		<mapper resource="/com/cloud/datadict/config/DataDict_sqlmap.xml"/>
		
		<!-- 定时任务 -->
		<mapper resource="/com/cloud/schedulemanager/config/Schedule_sqlmap.xml"/>
		
		<!-- WebService接口 -->
		<mapper resource="/com/cloud/webservice/config/WebService_sqlmap.xml"/>
		
		<!-- 调用WebService -->
		<mapper resource="/com/cloud/callwebservice/config/CallWebService_sqlmap.xml"/>
		
		<!-- 系统人员 -->
		<mapper resource="/com/cloud/systemuser/config/SystemUser_sqlmap.xml"/>
		
		<!-- 菜单 -->
		<mapper resource="/com/cloud/menumanager/config/Menu_sqlmap.xml"/>
		
		<!-- 部门 -->
		<mapper resource="/com/cloud/department/config/Department_sqlmap.xml"/>
		
		<!-- 系统配置 -->
		<mapper resource="/com/cloud/systemconfig/config/SystemConfig_sqlmap.xml"/>
		
		<!-- 菜单权限 -->
		<mapper resource="/com/cloud/menupriv/config/MenuPriv_sqlmap.xml"/>
		
		<!-- 角色 -->
		<mapper resource="/com/cloud/rolemanager/config/Role_sqlmap.xml"/>
		
		<!-- 角色人员关系 -->
		<mapper resource="/com/cloud/roleuser/config/RoleUser_sqlmap.xml"/>
		
		<!-- 角色菜单权限 -->
		<mapper resource="/com/cloud/rolemenupriv/config/RoleMenuPriv_sqlmap.xml"/>
		
		<!-- 日志管理 -->
		<mapper resource="/com/cloud/sqllog/config/Sqllog_sqlmap.xml"/>
		
		<!-- 注册WebService -->
		<mapper resource="/com/cloud/regwebservice/config/RegWebService_sqlmap.xml"/>
	    				
		
		
		
		<!-- 业务总模块 -->
		
		
		<!-- 附件表 -->
		<mapper resource="/com/cloud/attachment/config/Attachment_sqlmap.xml"/>
		
	</mappers>
</configuration>