.listtable {	
	border: 1px solid #D4D4D4;
	width: 100%;
	margin: 0;
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-left: none;	
}

.listtable th {
	padding: 2px 4px 2px 4px !important;
	text-align: center;
	vertical-align: middle;
	color: black;
	background-color: #F0F5F8;
	border-bottom: 1px solid #CDCDCD;
}

.listtable td {
	padding: 2px 4px 2px 4px !important;
	text-align: left;
	vertical-align: middle;
	border-left: 1px dashed #CCCCCC;
}

.listtable thead tr {
	height: 35px;
	font-size:13px;
}

.listtable th.sorted {
	background-color: #EEF3F6;
	color: black;
}

.listtable th a,th{
	color: black;
}

.listtable th a:hover {
	text-decoration: none;
	color: #FF9900;
}

.listtable th.sorted a,th.sortable a {
	text-align: center;
	background-position: right;
	display: block;
	width: 100%;
}

.listtable th.sortable a {
	background-image: url(../../images/arrow_off.png);
	background-repeat: no-repeat;
}

.listtable th.order1 a {
	background-image: url(../../images/arrow_up.png);
	background-repeat: no-repeat;
}

.listtable th.order2 a {
	background-image: url(../../images/arrow_down.png);	
	background-repeat: no-repeat;
}

.listtable tr.odd {
	background-color: #fff;
	height:30px;
}

.listtable tr.tableRowEven,tr.even {
	background-color: #F3F7FA;
	height:30px;
}

.listtable tr:HOVER{
	background-color: #B9E0EF;
}

.listtable div.exportlinks {
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	margin: 2px 0 10px 0;
	width: 79%;
}

.listtable span.export {
	padding: 0 4px 1px 20px;
	display: inline;
	display: inline-block;
	cursor: pointer;
}

span.pagebanner {
	text-align: right;
	border: 0px dotted #999;
	display: inline;
	min-height:25px;
	height:auto;
	vertical-align: middle;
	font-size: 13px;
	margin-top: 3px;
}

span.pagelinks {
	text-align: right;
	border: 0px dotted #999;
	display: inline;
	border-top: none;
	margin-bottom: -5px;
	margin: 0 6px 0 10px !important;	
	width: 20px;
	width: auto;
	min-height:20px;
	height:auto;
	text-align: center;
	vertical-align: middle;
}

span.pagelinks strong {
	color: #FFF;
	background-color:#7F7F7F;
	border: 1px solid #7F7F7F;
	min-width: 20px;
	width: auto;
	min-height:20px;
	height:auto;
	display: table-cell;	
	text-align: center;
	vertical-align: middle;
	padding-right: 2px;
	padding-left: 2px;
}

span.pagelinks a{
	color: #3366CC;
	border: 1px solid #3366CC;
	min-width: 20px;
	width: auto;
	min-height:20px;
	height:auto;
	display: table-cell;	
	text-align: center;
	vertical-align: middle;
	padding-right: 2px;
	padding-left: 2px;
}

span.pagelinks a:hover{
	color: #FFF;
	border: 1px solid #0066CC;
	background-color: #0066CC;	
	min-width: 20px;
	width: auto;
	min-height:20px;
	height:auto;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	padding-right: 2px;
	padding-left: 2px;
}
.noHref {
	color: #7F7F7F;
	border: 1px solid #7F7F7F;
	min-width: 20px;
	width: auto;
	min-height:20px;
	height:auto;
	display: table-cell;	
	text-align: center;
	vertical-align: middle;
	padding-right: 2px;
	padding-left: 2px;
}

span.search {
	margin-left: 20px;
}
div.searchpageDiv {
	text-align: right;
	width:100%;
	margin: 6px 0 0 0 !important;
	vertical-align: middle;
	font-size: 12px;
	height:auto;
	line-height: 20px;
}

.group-1 {
    font-weight:bold;
    padding-bottom:10px;
    border-top:1px solid black;
}
.group-2 {
    font-style:italic;
    border-top: 1px solid black;

}
.subtotal-sum, .grandtotal-sum {
    font-weight:bold;
    text-align:right;
}
.subtotal-header {
    padding-bottom: 0px;
    border-top: 1px solid white;
}
.subtotal-label, .grandtotal-label {
    border-top: 1px solid white;
    font-weight: bold;
}
.grouped-table tr.even {
    background-color: #fff;
}
.grouped-table tr.odd {
    background-color: #fff;
}
.grandtotal-row {
    border-top: 2px solid black;
}

.breakPageImg{
	border:none;
	width:14px;
	height: 14px;
	margin-top: 1px;
}