@charset "utf-8";
/* CSS Document */
.tab_menu{width:100%; height:40px; margin-top:10px;  }
.tab_menu ul{}
.tab_menu ul li{
	float:left;
	width: 112px;
	height: 37px;
	line-height: 37px;
	text-align: center;
	background-color:#f3f6f8;
	border-top:1px solid #d3dbde;
	border-left:1px solid #d3dbde;
	border-right:1px solid #d3dbde;
	
	margin-top:2px;
	font-weight:bold;
	color:#000;
	font-size:14px;
	
	}

/*
.tab_menu ul li:hover{
    margin-top:3px;
	background-image: url(../images/ti_5.jpg);
	background-repeat: no-repeat;
	
	
	}
	*/
.tab_box{width:100%; height:500px; border:1px solid #d3dbde;}
.selected{
	width: 112px;
	height: 37px;
	margin-top:3px;
	background-image: url(../images/ti_5.jpg);
	background-repeat: no-repeat;
	}
.hover{width: 112px;
	height: 37px;
	margin-top:3px;
	background-image: url(../images/ti_5.jpg);
	background-repeat: no-repeat;}



