<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <servlet>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>cn.four.user.servlet.RegistServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.four.user.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjaxServlet</servlet-name>
    <servlet-class>cn.four.user.servlet.AjaxServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddServlet</servlet-name>
    <servlet-class>cn.four.dish.servlet.AddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindServlet</servlet-name>
    <servlet-class>cn.four.dish.servlet.FindServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindByHeatServlet</servlet-name>
    <servlet-class>cn.four.dish.servlet.FindByHeatServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindByTypeServlet</servlet-name>
    <servlet-class>cn.four.dish.servlet.FindByTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddOrderServlet</servlet-name>
    <servlet-class>cn.four.order.servlet.AddOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindOrderServlet</servlet-name>
    <servlet-class>cn.four.order.servlet.FindOrderServlet</servlet-class>
  </servlet>









  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/RegistServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjaxServlet</servlet-name>
    <url-pattern>/AjaxServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddServlet</servlet-name>
    <url-pattern>/AddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindServlet</servlet-name>
    <url-pattern>/FindServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindByHeatServlet</servlet-name>
    <url-pattern>/FindByHeatServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindByTypeServlet</servlet-name>
    <url-pattern>/FindByTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddOrderServlet</servlet-name>
    <url-pattern>/AddOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindOrderServlet</servlet-name>
    <url-pattern>/FindOrderServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
</web-app>