<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans      
						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<!-- jsp控件 -->
	<import resource="classpath:/com/cloud/coder/config/applicationContext-jspInput.xml"/>
	
	<!-- 基本类型(包括：model类属性与数据库) -->
	<import resource="classpath:/com/cloud/coder/config/applicationContext-baseType.xml"/>
					
	<!-- 表单验证 -->
	<import resource="classpath:/com/cloud/coder/config/applicationContext-validation.xml"/>
</beans>