<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans      
						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<bean id="validationList" class="com.cloud.coder.model.ValidationList">
		<property name="list">  
        	<list>
        		<ref bean="vl1"/>
        		<ref bean="vl2"/>
        		<ref bean="vl3"/>
        		<ref bean="vl4"/>
        		<ref bean="vl5"/>
        		<ref bean="vl6"/>
        		<ref bean="vl7"/>
            </list>  
        </property>
	</bean>
	
	<bean id="vl1" class="com.cloud.coder.model.Validation">
		<property name="name" value="必填"/>
		<property name="value" value="required:true"/>
	</bean>
	<bean id="vl2" class="com.cloud.coder.model.Validation">
		<property name="name" value="日期"/>
		<property name="value" value="date:true"/>
	</bean>
	<bean id="vl3" class="com.cloud.coder.model.Validation">
		<property name="name" value="文本"/>
		<property name="value" value="normalText:true"/>
	</bean>
	<bean id="vl4" class="com.cloud.coder.model.Validation">
		<property name="name" value="邮箱"/>
		<property name="value" value="email:true"/>
	</bean>
	<bean id="vl5" class="com.cloud.coder.model.Validation">
		<property name="name" value="网址"/>
		<property name="value" value="url:true"/>
	</bean>
	<bean id="vl6" class="com.cloud.coder.model.Validation">
		<property name="name" value="车牌"/>
		<property name="value" value="carNumber:true"/>
	</bean>
	<bean id="vl7" class="com.cloud.coder.model.Validation">
		<property name="name" value="数字"/>
		<property name="value" value="number:true"/>
	</bean>
	<bean id="vl8" class="com.cloud.coder.model.Validation">
		<property name="name" value="正整数"/>
		<property name="value" value="isInt:true"/>
	</bean>
</beans>