.li_1 a {
	width: 93px;
	height: 88px;
	background-image: url(../images/li_1.png);
}

.li_1 a:hover {
	width: 93px;
	height: 88px;
	background-image: url(../images/li_1.png);
	background-position: -93px 0px;
}

.li_1_hover {
	width: 93px;
	height: 88px;
	background-image: url(../images/li_1.png);
	background-position: -93px 0px;
}

.li_2 a {
	width: 93px;
	height: 88px;
	background-image: url(../images/li_2.png);
}

.li_2 a:hover {
	width: 93px;
	height: 88px;
	background-image: url(../images/li_2.png);
	background-position: -93px 0px;
}

.li_2_hover {
	width: 93px;
	height: 88px;
	background-image: url(../images/li_2.png);
	background-position: -93px 0px;
}

.li_3 a {
	width: 93px;
	height: 88px;
	background-image: url(../images/li_3.png);
}

.li_3 a:hover {
	width: 93px;
	height: 88px;
	background-image: url(../images/li_3.png);
	background-position: -93px 0px;
}

.li_3_hover {
	width: 93px;
	height: 88px;
	background-image: url(../images/li_3.png);
	background-position: -93px 0px;
}

.li_4 a {
	width: 93px;
	height: 88px;
	background-image: url(../images/li_4.png);
}

.li_4 a:hover {
	width: 93px;
	height: 88px;
	background-image: url(../images/li_4.png);
	background-position: -93px 0px;
}

.li_4_hover {
	width: 93px;
	height: 88px;
	background-image: url(../images/li_4.png);
	background-position: -93px 0px;
}

.li_5 a {
	width: 93px;
	height: 88px;
	background-image: url(../images/li_5.png);
}

.li_5 a:hover {
	width: 93px;
	height: 88px;
	background-image: url(../images/li_5.png);
	background-position: -93px 0px;
}

.li_5_hover {
	width: 93px;
	height: 88px;
	background-image: url(../images/li_5.png);
	background-position: -93px 0px;
}

.li_6 a {
	width: 93px;
	height: 88px;
	background-image: url(../images/li_6.png);
}

.li_6 a:hover {
	width: 93px;
	height: 88px;
	background-image: url(../images/li_6.png);
	background-position: -93px 0px;
}

.li_6_hover {
	width: 93px;
	height: 88px;
	background-image: url(../images/li_6.png);
	background-position: -93px 0px;
}